.main{
    /* margin-top: 3%; */
    display: block;
    text-align: center;
}

.oscurecerImagen{
    filter: brightness(50%);
    background: center;
}

.textoMain{
    position: relative;
    top: 300px;
    color: #fff;
    z-index: 1;
}

.buttonMenu{
    position: relative;
    top: 320px;
    color: #fff;
    z-index: 1;
}

.footer{
    background: #207c04d8;
    display: block;
    text-align: center;
    padding: 1%;
    color: #000;
    background: #289906;
}

.logos-footer{
    display: flex;
    justify-content: center;
    margin-left: 2px;
}